{{>header}}
<div class="container">
<h1>Pintores</h1>
{{#if pintores}}
<table class="table table-dark table-hover">
    <thead>
        <tr>
           
            <td>Nombre</td>
            <td>Nacionalidad</td>
            <td>Corriente</td>
            <td>Pintura</td>
        </tr>
    </thead>
    <tbody>
        {{#each pintores}}
        <tr>
            <td>Frida Kahlo</td>
            <td>Mexicana</td>
            <td>Surealismo</td>
            <td><img src="/images/espalda.jpg" ></td>
            <td>{{pintura}}</td> 
        </tr>
        {{/each}}
    </tbody>
    <tbody>
        {{#each pintores}}
        <tr>
            <td>Leonora  Carrington</td>
            <td>Mexicana</td>
            <td>Surealismo</td>
            <td><img src="/images/leo.jpg" ></td>
            <td>{{pintura}}</td> 
        </tr>
        {{/each}}
    </tbody>
    <tbody>
        {{#each pintores}}
        <tr>
            <td>Remedios Varo</td>
            <td>Mexicana</td>
            <td>Surealismo</td>
            <td><img src="/images/remdios.jpg" ></td>
            <td>{{pintura}}</td> 
        </tr>
        {{/each}}
    </tbody>
    <tbody>
        {{#each pintores}}
        <tr>
            <td>Maria Izquierdo</td>
            <td>Mexicana</td>
            <td>Surealismo</td>
            <td><img src="/images/maria.jpg" ></td>
            <td>{{pintura}}</td> 
        </tr>
        {{/each}}
    </tbody>
<tbody>
        {{#each pintores}}
        <tr>
            <td>Dorothea Tanning</td>
            <td>Americana</td>
            <td>Arte moderno</td>
            <td><img src="/images/doro.jpg" ></td>
            <td>{{pintura}}</td> 
        </tr>
        {{/each}}
    </tbody>
    </table>
{{else}}
<div> No se encuentran pintores</div>
{{/if}}
</div>
{{>footer}}
